/* Add simply background color, align items to center, and set min height to 100vh to reduce scrolling effect. Add text-shadow for cool text effect */
body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #26b8b0;
    color: blue;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 0.5px #eec643;
}

h2 {
    font-size: medium;
}

/* justify-content and align-items to ensure all components are neatly organized. Add flex display for cross-functionality and padding for room. */
.main-content {
    background-color: aliceblue;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    border: dotted #eec643;
}

/* add grid-template-columns for text neatness and alignment.  */
.grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

/* add password output box with diversified color background, padding, and 250px width to take up enough space, but not too much. Border for spice.  */
.output {
    background-color: #26b8b0;
    color: white;
    display: flex;
    padding: 2rem;
    border: dotted  #eec643;
    height: 3rem;
    width: 250px;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

